.App {
  font-family: sans-serif;
  text-align: center;
}

.period-input{
  position: relative;
  display: flex;
  // border: solid 1px black;
  justify-content: space-around;
  // label {
  //   width: 40%;
  // }
  margin-bottom: 1em;

  &.got-pr {
    &::before{
      content: '🪪';
      position: absolute;
      left: 0;
      bottom: 0;
    }
    background-color: rgb(249, 255, 202);
  }

  &.is-pr {
    background-color: rgb(229, 252, 229);
  }

  &.older-than-fiver-years {
    text-decoration: line-through;
    &::after{
      content: '❌';
      position: absolute;
      left: 0;
    }
    // &::after{
    //   content: ' ';
    //   width: 90%;
    //   border-top: solid 1px black;
    //   position: absolute;
    //   left: 5%;
    //   top: 50%;
    // }
    background-color: rgb(255, 202, 202);
  }

  &.on-fiver-years-mark {
    &::after{
      content: '⚠️';
      position: absolute;
      left: 0;
    }
    background-color: rgb(255, 227, 192);
  }


  h3 {
    font-size: 8px;
    width: 10%;
  }
  span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5%;
  }
  label{
    display: flex;
    flex-direction: column;
  }
}