.App {
  font-family: sans-serif;
  text-align: center;
}

.period-input{
  display: flex;
  // border: solid 1px black;
  justify-content: space-around;
  // label {
  //   width: 40%;
  // }
  margin-bottom: 1em;

  &.gotPR {
    background-color: rgb(249, 255, 202);
  }
  &.isPR {
    background-color: rgb(229, 252, 229);
  }
  h3 {
    font-size: 8px;
    width: 10%;
  }
  span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5%;
  }
  label{
    display: flex;
    flex-direction: column;
  }
}