.App {
  font-family: sans-serif;
  text-align: center;
}

.period-input{
  display: flex;
  border: solid 1px black;
  justify-content: space-around;
  // label {
  //   width: 40%;
  // }

  h3 {
    font-size: 8px;
    width: 10%;
  }
  span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5%;
  }
  label{
    display: flex;
    flex-direction: column;
  }
}